body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --colorPv1 : #533b8f;
  --colorPv2 : #6c51a8;
  --colorPv3 : #8468c1;
  --colorPv4 : #9d7eda;
  --colorPv5 : #b594f3;
  --colorGris : #929292;
  --colorRojo : rgb(180, 60, 70);

}